.tg1{
    color: orangered;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.test textarea::placeholder {
    font-size: 5px;
}

.bg{
    background:#222428;

}