.t{
    color: orangered;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

.tg{
    color: orangered;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bg1{
    background:#222428;
}