<ion-header class="ion-padding" style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="back"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/garfield.jpg"></ion-img>        
      </ion-avatar>
    </ion-buttons>
    <ion-title class="tg1">Gatos en adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <p class="c">MichiHouse</p>
  <ion-card color="medium"><br>
    <ion-card-title class="sb">Martín</ion-card-title><br>
    <ion-card-content class="tx">
      Martín es uno de nuestros gatos más nuevos en llegar a nuestro hogar, es un felino bastante jugueton y amigable con todos, sólo tiene 5 años de vida y sin importar el daño que recibio de sus dueños anteriores Martin es igual de carismatico que cualquier otro gato en nuestro hogar.
    </ion-card-content><br>
    <div style="display: flex; align-items: center;justify-content: center;">
      <a href="https://www.youtube.com/watch?v=IGMe6kKymVM"><img alt="image" src="assets/cat1.jpg" /></a><br>
  </div>
  </ion-card><br>

  <ion-card color="medium"><br>
    <ion-card-title class="sb">Judas</ion-card-title><br>
    <ion-card-content class="tx">
      A pesar de llamarse judas, este hermoso gato egipcio no te traicionará en ningún momento que compartas con él, con 10 años ya de vida, Judas sólo quiere disfrutar sus últimos años de vida con una familia que lo ame y quiera.
    </ion-card-content><br>
    <div style="display: flex; align-items: center;justify-content: center;">
      <a href="https://www.youtube.com/watch?v=zzwf7QL9TIU"><img alt="image" src="assets/cat2.jpg" /></a><br>
  </div>
  </ion-card>

  <br><br><br>

  <ion-card color="dark">
    <ion-button color="danger" shape="round" routerLink="/pag1">
      Página anterior
    </ion-button>
    <ion-button color="danger" shape="round" routerLink="/pag3">
      Siguiente página
    </ion-button>  
  </ion-card>
  

</ion-content>
