.tg1{
    color: orangered;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.c{
    color: orangered;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.sb{
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tx{
    color:black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}